@import url('paletaColores.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    cursor: url('../assets/cursor.png'), auto;

}

body {
    background-color: var(--gris-claro);
    height: 100%;

}

/*SCROLL*/
body::-webkit-scrollbar {
    width: 12px;

}

body::-webkit-scrollbar-track {
    background: var(--gris-claro2);

}

body::-webkit-scrollbar-thumb {
    background-color: var(--naranja-calido);
    border-radius: 10px;
}

header {
    background-color: var(--turquesa-claro);
    width: 100%;
    height: 16.11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {

    width: 12vw;
    height: auto;

}

.busqueda {
    display: flex;
    align-items: center;
    position: relative;
    width: 18.75vw;
    height: 4.07vh;
}

.barraBusqueda {
    font-family: 'Poppins';
    width: 18.75vw;
    height: 100%;
    background-color: var(--gris-claro);
    border-radius: 28px;
    border: 1px solid var(--gris-claro2);
    padding: 0 3vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    outline: none;
    font-size: 0.88vw;
    color: var(--gris-oscuro);
}

.barraBusqueda::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.barraBusqueda:focus {
    font-family: 'Poppins';
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 0.88vw;
    color: var(--gris-oscuro);

}

.barraBusqueda:hover {
    background-color: var(--blanco-puro);
    border: 1px solid var(--gris);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    cursor: url('../assets/cursorPointer.png'), pointer;
}


.barraBusqueda::placeholder {
    color: var(--gris-oscuro);
    font-family: 'Poppins';
    text-align: left;

}

.iconoLupa {
    position: absolute;
    right: 4%;
    top: 50%;
    /*CENTRARLO AL MEDIO*/
    transform: translateY(-50%);
    background-image: url("../assets/iconoLupa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2vw;
    height: 100%;
    border: none;
    cursor: url('../assets/cursorPointer.png'), pointer;
    background-color: transparent;

}

.iniciarSesionBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 30%;
    background-color: var(--naranja-calido);
    border-radius: 20px;
    border: none;
    color: var(--blanco-puro);
    cursor: url('../assets/cursorPointer.png'), pointer;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

.iniciarSesionBoton:hover,
.botonPaquete:hover,
.secundario:hover,
.botonConfirmacion:hover {
    transform: scale(1.03);
}

.barraNavegacion {
    margin: 1%;
    display: flex;
    justify-content: center;
    height: 2vh;
}

.barraNavegacion a {
    text-decoration: none;
    font-weight: 600;
    color: var(--gris-oscuro);
    font-size: 1.0625rem;
    padding-right: 2%;
}

.barraNavegacion a:hover {
    color: var(--naranja-calido);
    cursor: url('../assets/cursorPointer.png'), pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--gris-claro2);
    margin-bottom: 4%;

}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.configuradorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 1183px;
    background-color: var(--blanco-puro);
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);


}

.pasarelaPago {
    margin: 4%;
    display: none;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 1183px;
    background-color: var(--blanco-puro);
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

}

.pasarelaInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin-bottom: 4%;
}

.pasarelaInfo form {

    display: flex;
    flex-direction: column;
}

.pasarelaInfo input {
    background-color: var(--blanco-cremoso2);
    width: 511px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    text-align: center;
    margin-bottom: 33px;
    color: var(--gris-claro3);
    cursor: url('../assets/cursorPointer.png'), pointer;

}



.pasarelaInfo input::placeholder {
    color: var(--gris-claro3);
    font-family: 'Poppins';
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

}


.pasarelaInfo input:focus {
    outline: none;
    border: 1px solid var(--naranja-calido);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.logoYPrecio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logoYPrecio img {
    width: 282px;
    height: 237px;
}

.precioTotalPaquete {
    width: 287px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precioTotalPaquete p {

    color: var(--turquesa-oscuro);
    font-weight: bold;
    font-size: 22px;
}

.metodoPago {
    width: 100%;
    margin: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.metodoPago img {
    width: 468px;
    height: 127px;
}


.titulo {
    color: var(--gris-oscuro);
    font-weight: bold;
    font-size: 2.43rem;
    margin: 4%;
}

.busquedaDestino {
    width: 70%;
    height: 47px;
    position: relative
}

.barraBusquedaPaquete {
    font-family: 'Poppins';
    border-radius: 28px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: var(--gris-claro);
    border: 1px solid #E8E8E8;
    text-align: left;
    outline: none;
    padding-left: 6%;
    color: #999999;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.4s ease;

}


.barraBusquedaPaquete::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
    font-family: 'Poppins';
}

.barraBusquedaPaquete::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.barraBusquedaPaquete:hover {
    border-color: var(--gris-claro3);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.oculto {
    display: none;
}

.lupaPaquete {
    position: absolute;
    right: 5%;
    top: 50%;
    /*CENTRARLO AL MEDIO*/
    transform: translateY(-50%);
    background-image: url("../assets/lupaNaranja.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2vw;
    height: 100%;
    border: none;
    cursor: url('../assets/cursorPointer.png'), pointer;
    background-color: transparent;
}

.mapa {
    margin: 4%;
    width: 800px;
    height: 600px;
    border: none;
    border-radius: 30px;
}

.paso2Configurador,
.paso3Configuracion,
.paso4Configuracion,
.paso5Configuracion {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.paso6Configuracion {
    display: none;
    flex-direction: column;
    width: 906px;
    align-items: center;
}

.ultimoPaso {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.encabezadoSecundario {
    font-weight: 400;
    font-size: 33px;
    color: var(--gris-oscuro);
    margin-bottom: 4%;
}

.resumen {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.tituloResumen {
    font-size: 33px;
    font-weight: 800;
    color: var(--gris-oscuro);

}

.infoPrecio {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infoPrecio .precio {
    color: var(--turquesa-claro);
    font-weight: bold;
    font-size: 22px;

}

.resumen hr {
    background: #E0E0E0;
    width: 83%;
    margin-bottom: 2%;
}

.resumen p {
    font-weight: bold;
    font-size: 20px;
    color: var(--gris-oscuro);

}

.containerPrecioTotal {
    width: 1183px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4%;
    margin-top: 4%;
}

.precioTotal {
    width: 364px;
    height: 99px;
    background-color: var(--turquesa-claro);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 116px;

}

.precioTotal p {
    padding-left: 8%;
    padding-right: 8%;
    color: var(--blanco-puro);
    font-weight: bold;
    font-size: 22px;
}

.botonesConfirmacion {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.botonConfirmacion {
    width: 328px;
    height: 69px;
    border-radius: 28px;
    background-color: var(--naranja-calido);
    color: var(--blanco-puro);
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.containerVolverAtras {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4%;
}

.alojamientos,
.actividades,
.transportes {
    width: 100%;
    height: 874px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4%;
}

.datosPasajeros {
    width: 100%;
    height: 681px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4%;
    margin-bottom: 4%;
}


/*SCROLL ALOJAMIENTOS*/
.alojamientos::-webkit-scrollbar {
    width: 29px;


}

.alojamientos::-webkit-scrollbar-track {
    background: #999999;
    border-radius: 11px;

}

.alojamientos::-webkit-scrollbar-thumb {
    background-color: var(--gris-claro2);
    border-radius: 11px;
}


/*SCROLL ACTIVIDADES*/
.actividades::-webkit-scrollbar {
    width: 29px;


}

.actividades::-webkit-scrollbar-track {
    background: #999999;
    border-radius: 11px;

}

.actividades::-webkit-scrollbar-thumb {
    background-color: var(--gris-claro2);
    border-radius: 11px;
}

/*SCROLL TRANSPORTES*/
.transportes::-webkit-scrollbar {
    width: 29px;


}

.transportes::-webkit-scrollbar-track {
    background: #999999;
    border-radius: 11px;

}

.transportes::-webkit-scrollbar-thumb {
    background-color: var(--gris-claro2);
    border-radius: 11px;
}

/*SCROLL PASAJEROS*/
.datosPasajeros::-webkit-scrollbar {
    width: 29px;


}

.datosPasajeros::-webkit-scrollbar-track {
    background: #999999;
    border-radius: 11px;

}

.datosPasajeros::-webkit-scrollbar-thumb {
    background-color: var(--gris-claro2);
    border-radius: 11px;
}


.alojamiento,
.actividad,
.transporte,
.pasajero {
    margin-bottom: 6%;
    width: 959px;
    height: 374px;
    /* Evitar que los elementos se reduzcan */
    flex: 0 0 auto;

}

.pasajero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 709px;
}


.alojamiento h3,
.actividad h3,
.transporte h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
}

.pasajero h3 {
    color: var(--turquesa-claro);
    font-weight: bold;
    font-size: 33px;
}

.pasajero hr {
    background-color: #E0E0E0;
    width: 700px;
}

.formularioPasajero {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.filaFormulario {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filaFormulario input {
    background-color: var(--blanco-cremoso2);
    width: 246px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    text-align: center;
    margin-bottom: 37px;
    color: var(--gris-claro3);
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.filaFormulario input::placeholder {
    color: var(--gris-claro3);
    font-family: 'Poppins';
    text-align: center;
    font-size: 1rem;
    font-weight: 400;

}


.filaFormulario input:focus {
    outline: none;
    border: 1px solid var(--naranja-calido);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.alojamiento hr,
.actividad hr,
.transporte hr {
    width: 100%;
    background-color: #CCCCCC;
}

.alojamientoInformacion,
.actividadInformacion,
.transporteInformacion {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.alojamientoInformacion img,
.actividadInformacion img,
.transporteInformacion img {
    width: 292px;
    height: 287px;

}

.textoAlojamiento,
.textoActividad,
.textoTransporte {
    width: 527px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textoAlojamiento p,
.textoActividad p,
.textoTransporte p {
    font-weight: 400;
    font-size: 20px;
    color: #666666;

}

.precioSeleccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.secundario {
    background-color: var(--turquesa-claro);
    border-radius: 28px;
    color: var(--blanco-puro);
    width: 200px;
    height: 50px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: url('../assets/cursorPointer.png'), pointer;
}


.precioSeleccion p {
    color: var(--naranja-calido);
    font-weight: bold;
    font-size: 20px;
}

.datosPaquete {
    display: flex;
    width: 281px;
    height: 260px;
    margin: 4%;
    flex-direction: column;
    justify-content: space-between;

}

.inputField {
    position: relative;
    width: 280px;
    height: 50px;
}

.inputField input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 8px;
    color: var(--gris);
    border: 1px solid #D9D9D9;
    font-size: 1em;
    width: 100%;
    height: 100%;
    font-weight: 600;

}

/* Ocultar el ícono por defecto de calendario*/
.inputField input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
}

/* Para navegadores que no soportan bien appearance */
.inputField input[type="date"]::-webkit-inner-spin-button,
.inputField input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}


.iconoCalendario {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url('../assets/calendarioIcono.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('../assets/cursorPointer.png'), pointer;
}


.inputField label {
    position: absolute;
    left: 0;
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    background: var(--blanco-puro);
    letter-spacing: 1px;
    color: var(--gris);
    font-weight: 400;
}

.continuarPrimeraPantalla {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.continuar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 4%;
}

.botonPaquete {
    width: 200px;
    height: 50px;
    border-radius: 28px;
    background-color: var(--naranja-calido);
    border: none;
    color: var(--blanco-puro);
    font-weight: bold;
    font-size: 18px;
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.containerBarra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerBarra p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2%;
}

.barraProgreso {
    width: 450px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 100px;
}

.barraProgreso::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 100px;
}

.barraProgreso::-webkit-progress-value {
    background-color: var(--turquesa-claro);
    border-radius: 100px;
}

.barraProgreso:-moz-progress-bar {
    background-color: var(--turquesa-claro);
}

.fotoDestino {
    width: 600px;
    height: 450px;
    background-image: url('../assets/fotoDestinoTokyo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 4%;
}

footer {
    display: flex;
    background-color: var(--turquesa-claro);
    align-items: center;
    color: var(--blanco-puro);
    justify-content: space-between;
    align-items: center;
}

.rsssIconos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rsssIcono {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;

}

.instagram {
    background-image: url('../assets/instagramLogo.png');
}

.whatsapp {
    background-image: url('../assets/whatsappLogo.png');
}

.x {
    background-image: url('../assets/xLogo.png');
}

.tiktok {
    background-image: url('../assets/tiktokLogo.png');
}

.instagram:hover {
    background-image: url('../assets/instagramHover.png');
}

.whatsapp:hover {
    background-image: url('../assets/whatsappHover.png');
}

.x:hover {
    background-image: url('../assets/xHover.png');
}

.tiktok:hover {
    background-image: url('../assets/tiktokHover.png');
}

.rsssIcono:hover {
    cursor: url('../assets/cursorPointer.png'), pointer;
    transform: scale(1.5);
}


footer .logo {
    width: 242px;
    height: 208px;
}

.contactanos h1 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-bottom: 6%;
}

.copy {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy p {
    width: 387px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.enlacesFooter {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.enlace {
    transition: transform 0.2s ease-in-out;
}

.enlace:hover {
    color: #FFFFF2;
    text-decoration: underline;
    cursor: url('../assets/cursorPointer.png'), pointer;
    transform: scale(1.03);
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;

}

@keyframes aparecerModal {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animarModal {
    animation: aparecerModal 2s ease-out;
}

.modal p {
    padding: 1%;
}

.modalContenido {
    background-color: var(--blanco-puro);
    margin: 15% auto;
    padding: 2%;
    border: 1px solid var(--gris-claro2);
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: aparecerModal 1s ease-out;
}

.modalContenido h2 {
    color: var(--turquesa-claro);
    padding: 1%;
}

.cerrar {
    position: absolute;
    top: 4%;
    right: 4%;
    background-color: var(--naranja-calido);
    color: var(--blanco-puro);
    font-size: 1.25rem;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: url('../assets/cursorPointer.png'), pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.cerrar:hover,
.cerrar:focus {
    background-color: var(--naranja-oscuro);
    color: var(--blanco-puro);
    transform: scale(1.1);

}