@import url('paletaColores.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    cursor: url('../assets/cursor.png'), auto;

}

body {
    background-color: var(--gris-claro);
}

/*SCROLL*/
body::-webkit-scrollbar {
    width: 12px;

}

body::-webkit-scrollbar-track {
    background: var(--gris-claro2);

}

body::-webkit-scrollbar-thumb {
    background-color: var(--naranja-calido);
    border-radius: 10px;
}

header {
    background-color: var(--turquesa-claro);
    width: 100%;
    height: 16.11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {

    width: 12vw;
    height: auto;

}

.busqueda {
    display: flex;
    align-items: center;
    position: relative;
    width: 18.75vw;
    height: 4.07vh;
}

.barraBusqueda {
    font-family: 'Poppins';
    width: 18.75vw;
    height: 100%;
    background-color: var(--gris-claro);
    border-radius: 28px;
    border: 1px solid var(--gris-claro2);
    padding: 0 3vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    outline: none;
    font-size: 0.88vw;
    color: var(--gris-oscuro);
}

.barraBusqueda::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.barraBusqueda:focus {
    font-family: 'Poppins';
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 0.88vw;
    color: var(--gris-oscuro);

}

.barraBusqueda:hover {
    background-color: var(--blanco-puro);
    border: 1px solid var(--gris);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    cursor: url('../assets/cursorPointer.png'), pointer;
}


.barraBusqueda::placeholder {
    color: var(--gris-oscuro);
    font-family: 'Poppins';
    text-align: left;

}

.iconoLupa {
    position: absolute;
    right: 4%;
    top: 50%;
    /*CENTRARLO AL MEDIO*/
    transform: translateY(-50%);
    background-image: url("../assets/iconoLupa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2vw;
    height: 100%;
    border: none;
    cursor: url('../assets/cursorPointer.png'), pointer;
    background-color: transparent;

}

.iniciarSesionBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 30%;
    background-color: var(--naranja-calido);
    border-radius: 20px;
    border: none;
    color: var(--blanco-puro);
    cursor: url('../assets/cursorPointer.png'), pointer;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

.iniciarSesionBoton:hover {
    transform: scale(1.03);
}

.barraNavegacion {
    margin: 1%;
    display: flex;
    justify-content: center;
    height: 2vh;
}

.barraNavegacion a {
    text-decoration: none;
    font-weight: 600;
    color: var(--gris-oscuro);
    font-size: 1.0625rem;
    padding-right: 2%;
}

.barraNavegacion a:hover {
    color: var(--naranja-calido);
    cursor: url('../assets/cursorPointer.png'), pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--gris-claro2);
    margin-bottom: 1.5%;
}

.carrusel {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carruselContenido {
    margin: 2%;
    width: 1200px;
    height: 500px;
    display: flex;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.imagenCarrusel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}


#imagenActual {
    background-image: url("assets/carruselPaisaje1.jpeg");
    opacity: 1;
}


#imagenSiguiente {
    opacity: 0;
}

.encabezado h1 {
    font-size: 2.625rem;
    font-weight: 700;
}

.paquetesDestacados {
    margin-bottom: 11%;
}

.encabezado {
    display: flex;
    justify-content: center;
    margin: 4%;
    margin-top: 8%;
}

.paquetes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;
}

.paquete {
    position: relative;
    transition: transform 0.2s ease-in-out;

}

.imagenPaquete {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.paquete:hover {
    transform: scale(1.03);
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.tituloPaquetePrederminado {
    font-size: 1.1rem;
    font-weight: 600;
}

.precioPaquetePrederminado {
    font-size: 1.3rem;
    font-weight: 700;

}

.infoPaquetePredeterminado {
    position: absolute;
    bottom: 3%;
    left: 4%;
}

.infoPaquetePredeterminadoLargo .tituloPaquetePrederminado {
    font-size: 1rem;
}

.infoPaquetePredeterminadoLargo {
    position: absolute;
    bottom: 0%;
    left: 4%;
}

.contenedorBoton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;


}

.botonSecundario {
    background-color: var(--turquesa-claro);
    border: none;
    width: 23%;
    border-radius: 28px;
    cursor: url('../assets/cursorPointer.png'), pointer;
    color: var(--blanco-puro);
    font-weight: bold;
    font-size: 1.4375rem;
}

.botonSecundario:hover {
    background-color: var(--turquesa-oscuro);

}

.textoPresentacion {
    margin: 0 23%;
    font-size: 1.0625rem;
    margin-bottom: 4%;
}

.contenedorReseñas {
    background-color: var(--gris-muy-claro);
    display: flex;
    flex-direction: column;

    width: 64%;
    margin: 0 18%;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 47.2vh;


}

.encabezadoReseñas h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.reseñas {
    display: flex;
}

.reseña {
    display: flex;
    flex-direction: column;
    background-color: var(--blanco-puro);
    border-radius: 8px;
    border: 1px solid var(--gris-claro2);
    width: 325px;
    height: 248px;
}

.reseña img {
    max-width: 116px;
    max-height: 20px;
}