* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F4F4F4;
    font-family: 'Poppins';
}

header {
    background-color: #00BFA6;
    width: 100%;
    height: 16.11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {

    width: 12vw;
    height: auto;

}

.busqueda {
    display: flex;
    align-items: center;
    position: relative;
    width: 18.75vw;
    height: 4.07vh;
}

.barraBusqueda {
    font-family: 'Poppins';
    width: 18.75vw;
    height: 100%;
    background-color: #F4F4F4;
    border-radius: 28px;
    border: 1px solid #E8E8E8;
    padding: 0 3vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    outline: none;
    font-size: 0.88vw;
    color: #333333;
}

.barraBusqueda::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.barraBusqueda:focus {
    font-family: 'Poppins';
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 0.88vw;
    color: #333333;

}

.barraBusqueda:hover {
    background-color: #F7F7F7;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.barraBusqueda::placeholder {
    color: #333333;
    font-family: 'Poppins';
    text-align: left;

}

.iconoLupa {
    position: absolute;
    right: 4%;
    top: 50%;
    /*CENTRARLO AL MEDIO*/
    transform: translateY(-50%);
    background-image: url("../assets/iconoLupa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2vw;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;

}

.iniciarSesionBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 30%;
    background-color: #FF9A62;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

.iniciarSesionBoton:hover {
    transform: scale(1.03);
}

.barraNavegacion {
    margin: 1%;
    display: flex;
    justify-content: center;
    height: 2vh;
}

.barraNavegacion a {
    text-decoration: none;
    font-weight: 600;
    color: #333333;
    font-size: 1.0625rem;
    padding-right: 2%;
}

.barraNavegacion a:hover {
    color: #FF9A62;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: #E0E0E0;
    margin-bottom: 1.5%;
}

.carrusel {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carruselContenido {
    margin: 2%;
    width: 1200px;
    height: 500px;
    display: flex;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.imagenCarrusel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}


#imagenActual {
    background-image: url("assets/carruselPaisaje1.jpeg");
    opacity: 1;
}


#imagenSiguiente {
    opacity: 0;
}

.encabezado h1 {
    font-size: 2.625rem;
    font-weight: 700;
}

.encabezado {
    display: flex;
    justify-content: center;
    margin: 4%;
    margin-top: 8%;
}

.paquetes {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6%;
}

.paquete {
    position: relative;
    transition: transform 0.2s ease-in-out;

}

.imagenPaquete {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.paquete:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.tituloPaquetePrederminado {
    font-size: 1.1rem;
    font-weight: 600;
}

.precioPaquetePrederminado {
    font-size: 1.3rem;
    font-weight: 700;

}

.infoPaquetePredeterminado {
    position: absolute;
    bottom: 3%;
    left: 4%;
}

.infoPaquetePredeterminadoLargo .tituloPaquetePrederminado {
    font-size: 1rem;
}

.infoPaquetePredeterminadoLargo {
    position: absolute;
    bottom: 0%;
    left: 4%;
}

.contenedorBoton {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
}

.botonSecundario {
    background-color: #00BFA6;
    border: none;
    width: 40%;
}