* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    cursor: url('../assets/cursor.png'), auto;

}

body {
    background-color: var(--blanco-cremoso);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes aparecerModal {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animarModal {
    animation: aparecerModal 2s ease-out;
}

.containerLogin {
    width: 40.8%;
    background-color: var(--crema);
    height: 69.7%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    position: relative;
}

.containerLogin form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input {
    margin-bottom: 6%;
    background-color: var(--blanco-puro);
    text-align: center;
    border-radius: 8px;
    border: solid 1px #D1D1D1;
    color: var(--gris-claro4);
    width: 42%;
    height: 13.2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 2px 4px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    z-index: 100;
    padding: 2%;
}

.input:hover,
.input:focus {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15),
        0px 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
    outline: none;
    cursor: url('../assets/cursorPointer.png'), pointer;
}

.input::placeholder {
    color: var(--gris-claro4);
    font-size: 1rem;
}

.terminosCondiciones {
    display: flex;
}

.iniciarSesionBoton {
    width: 37.2%;
    height: 11.9%;
    background-color: var(--naranja-oscuro);
    color: var(--blanco-puro);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 28px;
    cursor: url('../assets/cursorPointer.png'), pointer;
    border: none;
    transition: transform 0.2s ease-in-out;
}

.iniciarSesionBoton:hover {
    transform: scale(1.03);
}

.enlaces {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.enlaces a {
    font-size: 1rem;
    font-weight: bold;
    color: #706A66;
    text-decoration: none;
    width: 39%;
    text-align: center;
    cursor: url('../assets/cursorPointer.png'), pointer;

}

.enlaces a:hover {
    text-decoration: underline;
    color: var(--naranja-calido);
}

.logo {
    position: absolute;
    width: 53.7%;
    top: -34%;
    right: 22%;
}